@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans kr", sans-serif;
}

header,
section,
footer {
  width: 100%;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  width: 1000px;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginBtn {
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.myPageBtn {
  text-decoration: none;
  color: #252525;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
}

.nav__container {
  margin: 0 20px;
  width: 1000px;
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__main a {
  font-size: 40px;
  text-decoration: none;
  color: darkslategray;
  display: flex;
  align-items: center;
}

.nav-bar__logo {
  width: 50px;
}

.nav-bar__links {
  width: 300px;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-bar__links a {
  font-size: 20px;
  color: darkslategray;
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}

.gymList {
  width: 1000px;
  max-width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gymList__title {
  width: 900px;
  max-width: 90%;
}

.gymList__details {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gymList__detail {
  border: 1px solid;
  border-radius: 15px;
  margin: 10px 1vw;
  width: 300px;
  max-width: 29vw;
  height: 300px;
  max-height: 29vw;
}

.gymList__detail ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gymList__detail li {
  height: 50%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #302f2b;
  color: white;
}

.footer__leaf {
  position: absolute;
  top: -34px;
  width: 50px;
}

.footer__info {
  width: 750px;
  height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo img {
  width: 130px;
  margin-bottom: 1vh;
}

.footer__logo h3 {
  font-size: 16px;
  font-weight: 500;
}

.info__category {
  color: #cfa972;
}

.footer__info-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.info__category {
  margin-right: 10px;
}

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.footer__link img {
  height: 23px;
  margin-left: 10px;
}

.copyright {
  text-align: center;
  width: 100%;
  font-size: 11px;
  font-weight: 100;
  background-color: #252525;
  padding: 10px 0;
}
