@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans kr", sans-serif;
}

header,
section,
footer {
  width: 100%;
}



.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}

.profile {
  width: 800px;
  max-width: 100%;
  padding: 40px 0;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
}

.profile__img {
  width: 150px;
  height: 150px;
  margin-left: 40px;
}

.profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile__info {
  width: 500px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.profile__edit {
  width: 100px;
  margin-right: 20px;
}

.profile__editBtn {
  width: 100%;
  padding: 5px;
}

.gympass {
  width: 800px;
  max-width: 100%;
  height: 600px;
  padding: 40px 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  overflow: scroll;
  overflow-x: hidden;
}

.gympass__list {
  width: 100%;
}

.gympass__detail {
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}

.gympass__gymImg{
  width: 230px;
  max-width: 40%;
  height: 100%;
}

.gympass__gymImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.gympass__infos {
  width: 50%;
  max-width: 50%;
}

.gympass__info-top {
  width: 180px;
  max-width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.gympass__info-mid {
  width: 400px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gympass__gym {
  width: 200px;
  max-width: 50%;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}

.star {
  width: 200px;
  max-width: 50%;
  padding-left: 10px;
}

.star span{
	cursor: pointer;
}

.gympass__info-bot {
  width: 300px;
  max-width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gympass__btns {
  width: 100px;
  max-width: 20%;
  padding-right:15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gympass__btn {
  width: 100px;
  max-width: 100%;
  margin: 5px 0;
  padding: 5px;
}

.zzim {
  width: 800px;
  max-width: 100%;
  height: 600px;
  padding: 40px 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  overflow: scroll;
  overflow-x: hidden;
}

.zzim__list {
  width: 100%;
}

.zzim__detail {
  width: 100%;
  height: 150px;
  padding-right: 15px;
  margin-bottom: 30px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zzim__gymImg {
  width: 200px;
  max-width: 40%;
  height: 100%;
}

.zzim__gymImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.zzim__infos {
  width: 400px;
  max-width: 50%;
}

.zzim__info-top {
  margin-bottom: 15px;
  display: flex;
}

.zzim__star {
  margin-left: 20px;
}

.zzim__gymPhone {
  margin-bottom: 5px;
}

.zzim__btn {
  width: 100px;
  max-width: 20%;
}

.zzim__deleteBtn {
  width: 100px;
  padding: 5px;
}

.qna {
  width: 800px;
  max-width: 100%;
  height: 600px;
  padding: 40px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  overflow: scroll;
  overflow-x: hidden;
}

.qna__list {
  width: 100%;
}

.qna__detail {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
}

.qna__infos {
  width: 100%;
}

.qna__info-show {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
}

.qna__detailTitle{
	width: 300px;
	max-width: 35%;
}

.qna__info-hidden {
  display: none;
}

.qna_content {
  border-bottom: 1px solid;
  padding: 10px;
}

.qna__reply {
  padding: 10px;
}

.question{
	margin-bottom: 100px;
}

.question__btn {
  width: 100px;
  padding: 5px;
}


